  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-content nopadding">
          <form  class="form-horizontal">
          	<input type="hidden" name="id"/>
            <div class="control-group">
              <label class="control-label">装备名称 :</label>
              <div class="controls">
                <input type="text" class="span11" name="name" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">装备品质 :</label>
              <div class="controls">
                <input type="text" class="span11" name="quality" placeholder="请输入装备品质" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">装备价格 :</label>
              <div class="controls">
                <input type="text" class="span11" name="price" placeholder="请输入装备价格" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
