<div class="span6">
	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-list"></i>
			</span>
			<h5>
				玩家详情
			</h5>
		</div>
		<div class="widget-content nopadding">
          <form  class="form-horizontal">
           <input type="hidden" name="id" />
            <div class="control-group">
              <label class="control-label">玩家姓名 :</label>
              <div class="controls">
                <input type="text" name="name" placeholder="请输入名称" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">玩家邮箱 :</label>
              <div class="controls">
                <input type="text" name="email" placeholder="请输入邮箱" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">玩家手机号码 :</label>
              <div class="controls">
                <input type="text" name="mobile" placeholder="请输入手机号码" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">玩家固定电话 :</label>
              <div class="controls">
                <input type="text" name="telPhone" placeholder="请输入固定电话" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">性别</label>
              <div class="controls">
                <label style="display: inline;">
                  <input type="radio" value="MALE"  name="gender" />
                  	男</label>
                <label style="display: inline;">
                  <input type="radio" value="FAMALE" name="gender" />
                 	 女</label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">等级 :</label>
              <div class="controls">
                <input type="text"  name="level" placeholder="请输入玩家等级" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">职业 :</label>
              <div class="controls">
                <input type="text"   name="profession" placeholder="请输入职业" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">住址 :</label>
              <div class="controls">
                <input type="text"   name="address" placeholder="请输入住址" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">工会</label>
              <div class="controls">
                <select name="sociatyId" id="sociatyList">
                  <option>First option</option>
                  <option>Eighth option</option>
                </select>
              </div>
            </div>
          </form>
        </div>
	</div>
</div>