<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-content nopadding">
				<form class="form-horizontal">
					<input name="id"  type="hidden" />
					<div class="span5">
						<div class="control-group">
							<label class="control-label">选择装备 :</label>
							<div class="controls">
								<select name="equipId" id="equipList">
								</select>
							</div>
						</div>
					</div>
					<div class="span5">
						<div class="control-group">
							<label class="control-label">数量 :</label>
							<div class="controls">
							<input type="text" name="num"/>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
