  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-content nopadding">
          <form  class="form-horizontal">
          	<input type="hidden" name="id"/>
            <div class="control-group">
              <label class="control-label">工会名称 :</label>
              <div class="controls">
                <input type="text" class="span11" name="name" placeholder="请输入工会名称" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">工会状态</label>
              <div class="controls">
                <label style="display: inline;">
                  <input type="radio" value="false"  name="disabled" />
                  	正常</label>
                <label style="display: inline;">
                  <input type="radio" value="true" name="disabled" />
                 	 冻结</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
